/* body {
	margin: 0 auto;
	width:720px;
} */


/* button {
	margin-top:20px;
	height:25px;
	width:80px;
	color:blue;
} */

#weiqi {
	border: 0px solid blue;
	position: absolute;
	top: 15px;
}

#path {
	position: absolute;
	top: 15px;
	/*
	left:0;
	*/
	z-index: 200;
}

.canvas-container {
	width: 720px;
	height: 750px;
}

.scrollable {
	height: 750px;
	/* 设置滚动区域的高度 */
	width: 510px;
	/* 设置固定宽度 */
	overflow: auto;
	/* 添加滚动条 */
	white-space: nowrap; /* 防止内容换行 */
}

.scrollable::-webkit-scrollbar {
	width: 10px;
	/* 设置滚动条宽度 */
	height: 10px;
}

.scrollable::-webkit-scrollbar-track {
	background-color: #f1f1f1;
	/* 设置滚动条轨道的背景颜色 */
}

.scrollable::-webkit-scrollbar-thumb {
	background-color: #888;
	/* 设置滚动条的颜色 */
	border-radius: 5px;
	/* 设置滚动条的圆角 */
}

.scrollable::-webkit-scrollbar-thumb:hover {
	background-color: #555;
	/* 设置鼠标悬停时滚动条的颜色 */
}

.card-list-container {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.parent{
	text-align: center;
}

@media (max-width: 768px) {  /* 适应手机屏幕宽度 */
    select {
        -webkit-appearance: menulist;  /* WebKit 浏览器 */
        appearance: menulist;  /* 其他浏览器 */
        position: relative;
        z-index: 1;
    }
}